@font-face {
  font-family: 'Aldrich-Regular';
  src: url(./Aldrich-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Aldrich-Regular';  
  color: white;
  background-color: #2A0070;
}

p {
  margin: 0;
}